/* Estilods de carrito.html */
/* ____________________________________________________________________________________*/



.seccion-productos h2{
    text-align: center;
}

/*El article*/
.producto-carrito{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;

    /*border-bottom: 1px solid var(--color-onyx);*/
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.producto-carrito__miniatura img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.producto-carrito__nombre{
    align-items: center;
    
}

.producto-carrito__cantidad{
    text-align: center;
}

.producto-carrito__aumentar-cantidad, .producto-carrito__descontar-cantidad,.producto-carrito__eliminar{
    font-size: 1.5rem;
    padding: 12px;
    border-radius: 8px;
    color: var(--color-baby-powder)
}

.producto-carrito__descontar-cantidad, .producto-carrito__aumentar-cantidad {
    background-color: var(--color-turquoise-blue);
}

.producto-carrito__eliminar{
    background-color: var(--color-bittersweet);
}
