/* FOOTER */
/*========================================*/

#footer{
    background-color: var(--color-eerie-black);
    color: var(--color-baby-powder);

    padding: 1.5rem;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-contenido{
    display: flex;
    flex-direction: column;
}

.footer-contenido ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-contenido li{
    display: inline-block;
    margin-right: 1rem;
}

.footer-contenido i{
    font-size: 2rem;
}