header{
    /*Si le pongo altura al header el nav de Bootstrap explota como el Volcan Krakatoa */
    /*height: var(--header-height);*/
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: var(--color-eerie-black);
    color: var(--color-baby-powder);
}


/* Reescribiendo estilos de Bootstrap que no me sirven */
/* ______________________________________________________ */

nav{
    background-color: var(--color-eerie-black);
}


.navbar-brand,.nav-link{
    color: var(--color-baby-powder);
    font-size: 1.5rem !important;
}


.icono-logo{
    margin-left: 0.5rem;
}

.active{
    /*No me gusta usar !important pero no habia mas remedio... */
    color: var(--color-rose) !important;
}


.navbar-toggler-icon{
    background-color:var(--color-baby-powder) !important;
}

.icono-carrito{
    font-size: 1.75rem;
    padding: 0.75rem;
    /*position:relative*/
}

.numero-carrito{
    /* position: absolute;
    top: -6px;
    right: 0px;
    font-size: 1.25rem; */
    color: var(--color-rose);
}

