


/* _____________________________________________________________________________________________________________________________________ */


/* HEADER / NAV
/*========================================*/

header{
    height: var(--header-height);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: var(--color-eerie-black);
    color: var(--color-baby-powder);
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-regular);
}

nav ul li{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
}


.logo{
    font-family: var(--ff-destaque);
    font-size: 1.6rem;
}


/*Icono de carrito y cantidad de items */

.contenedor-carrito{
    position: relative;
    padding: 1.25rem;

    /*debug**/
    border: 1px solid blue;
    
}

.contenedor-carrito i{
    font-size: 1.75rem;

}

.numero-carrito{
    position: absolute;
    top: -6px;
    right: 0px;
    font-size: 1.5rem;
    
    color: #F56960;
}



/*Ponele que esto se puede usar para una animacion si se le pone un poco de cariño*/
#seccion-productos h2::after{
    content: "";
    height: 4px;
    width: 10%;
    background-color: #0C0F0A;
    position: absolute;
    bottom: 1px;
    left:50%;
    /*transform: translateX(-50%);*/
    transform: translateX(-50%);
}












/* PAGINA DE CONTACTO
/*========================================*/



.contenedor-contacto{
    /*QUE DESASTRE ESTO POR DIOS 🦜🦜🦜🦜🦜🦜🦜🦜🦜👻*/
    /*max-height: calc(80vh - var(--header-height));*/

    display: flex;

    border-radius: 1rem;

    overflow: hidden;
    padding: 1.25rem;

    

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*Esta era la clase del form !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.contenedor-contacto-izquierda{
    padding: 0.75rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    
}






/* .campo-formulario label{
    justify-self: flex-start;
} */

/* .campo-formulario input,textarea{
    border: 2px solid salmon;
    justify-self: flex-start;
}
 */









/*            MEDIA QUERIES               */
/*========================================*/
/*========================================*/


/*ESTA MEDIA QUERIE ES PROVISORIA PORQUE LA NAV PASA A SER EN BOOTSTRAP*/

@media screen and (max-width: 992px){
    nav{
        display: none;
    }
}

/*******************************************************/

/* Celulares pequeños < 576 px */
@media screen and (max-width: 576px){

    /*Ignoro el logo del nav por ahora ... despues viene Bootstrap */

    /*ACERCA DE */
    /*===============*/

    /* Iframe con mapa */
    #iframe-mapa{
        width:90%;
    }

}


