


/* _____________________________________________________________________________________________________________________________________ */


/* HEADER / NAV
/*========================================*/

header{
    height: var(--header-height);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: var(--color-eerie-black);
    color: var(--color-baby-powder);
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-regular);
}

nav ul li{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
}


.logo{
    font-family: var(--ff-destaque);
    font-size: 1.6rem;
}


/*Icono de carrito y cantidad de items */

.contenedor-carrito{
    position: relative;
    padding: 1.25rem;

    /*debug**/
    border: 1px solid blue;
    
}

.contenedor-carrito i{
    font-size: 1.75rem;

}

.numero-carrito{
    position: absolute;
    top: -6px;
    right: 0px;
    font-size: 1.5rem;
    
    color: #F56960;
}



/*Ponele que esto se puede usar para una animacion si se le pone un poco de cariño*/
#seccion-productos h2::after{
    content: "";
    height: 4px;
    width: 10%;
    background-color: #0C0F0A;
    position: absolute;
    bottom: 1px;
    left:50%;
    /*transform: translateX(-50%);*/
    transform: translateX(-50%);
}




















/*            MEDIA QUERIES               */
/*========================================*/
/*========================================*/


/*ESTA MEDIA QUERIE ES PROVISORIA PORQUE LA NAV PASA A SER EN BOOTSTRAP*/

@media screen and (max-width: 992px){
    nav{
        display: none;
    }
}

/*******************************************************/


